.grid-container {
  @include span-columns(12);
  @include clearfix();
}

.grid {
  @include display(flex);
  flex-wrap: wrap;
}

.colors-container {
  @include span-columns(12);
  @include clearfix();
  margin-bottom: 1em;
}

.color-preview {
  width: 2.5em;
  height: 2.5em;
  display: block;
}

.colors li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;

  &.add-new {
    margin-left: 0.2em;
  }

  .colorpicker {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 4;
  }
}

.square {
  display: inline-block;
  position: relative;
}

.square div {
  display: block;
  position: absolute;
}
