@import 'mixins/badge';

.history {
  @include span-columns(4);
  @include omega();
  margin-top: 1em;

  header {
    h2 {
      display: inline-block;
      margin-bottom: 0;
    }

    .count {
      float: right;
      @include badge($success-color);
    }
  }

  .version {
    @include clearfix();
    border-top: 1px solid #ddd;
    padding: 0.5em 0;

    .meta {
      @include clearfix();
      @include display(flex);
      align-items: flex-start;
    }
  }

  .size {
    @include badge($notice-color);
    margin-right: 0.5em;
  }

  .color-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  .toolbar {
    margin-bottom: 0.2em;

    button {
      font-size: 0.7em;
    }
  }
}
