.history {
  @include span-columns(4);
  @include omega();
  margin-top: 1em;

  li .meta {
    @include display(flex);
    align-items: flex-start;
  }

  strong {
    margin-right: 0.5em;
  }

  .color-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  li button {
    font-size: 0.7em;
  }
}
