$nav-background: #121212;
$nav-color: #fff;

.navigation {
  background-color: $nav-background;
  padding: 1em;
  margin-bottom: 1em;
  @include outer-container;

  h1 {
    @include span-columns(2);
    margin: 0;
    color: $nav-color;
  }

  .login {
    @include span-columns(10);
    text-align: right;
  }
}
