$nav-background: #121212;
$nav-color: #fff;

.navigation {
  background-color: $nav-background;
  padding: 1em;
  margin-bottom: 1em;
  @include outer-container;

  h1 {
    @include span-columns(2);
    margin: 0;
    color: $nav-color;
  }

  .login, .user {
    @include display(flex);
    align-items: center;
    justify-content: flex-end;

    img {
      height: 1.5em;
      margin-right: 0.5em;
    }

    .name {
      color: $nav-color;
      font-size: 0.9em;
    }
  }
}
