@import 'bourbon';
@import './base/base';
@import 'neat/neat';
@import 'colorpicker';

body {
  background-color: #eee;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.colors li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  height: 2em;
  vertical-align: middle;
  text-align: center;

  &.add-new {
    margin-left: 0.2em;
  }

  .color-preview {
    width: 2.5em;
    height: 2.5em;
    display: block;
  }

  .colorpicker {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 4;
  }
}

.square {
  display: inline-block;
  position: relative;
}

.square div {
  display: block;
  position: absolute;
}
